
.labelUser{
    padding-left: 30px;
    padding-right: 0px;
    padding-top: 50px;
    font-size: 20px;
}


.labelChoice{
    font-size: 16px;
    color: #535665;
    font-weight: 500;
}

.userFields{
    padding:0px 10px 0px 0px ;
}

.userContainer{
     padding-left: 30px;
    padding-right: 0px;
    padding-top: 50px;
}

.form-horizontal .control-label.text-left{
    text-align: left;
}

.btn-editSave
{
    padding-top: 10px;
}

.btn-save {
    display: none;
}

.btn-cancel{
    display: none;
}

.btn-edit{
    display: block;
}

.afterLoad{
    display: none;
}


.error1 {
    background:   #FF0000 no-repeat 98% center;
    border-color: #FF0000;    
}

.error2 {
    background: #FFCDD2 url(assets/img/error.png) no-repeat 98% center;
    box-shadow: 0 0 5px #FF5252;
    border-color: #FF1744;    
}

.orderTab{
    display: none;
}

.tabs{
    align-items: center;
    justify-content: center;
}

#country, #state {
    font-size: 16px;
}


 /* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 38px;
    background-color: ghostwhite;
    border-radius: 20px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: green;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 70px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: red;
}

input:focus + .slider {
/*  box-shadow: 0 0 1px #2196F3;*/
}

input:checked + .slider:before {
  -webkit-transform: translateX(70px);
  -ms-transform: translateX(70px);
  transform: translateX(70px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 20px;
}

